@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SamsungSans-Bold';
  src: url('../../public/asset/SamsungSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AbsoluteRegular';
  src: url('../../public/asset/TheAbsoluteRegular.woff') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "alfont_com_riyad-bank-Bold";
  src: url("../../public/asset/alfont_com_riyad-bank-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "d-ar";
  src: url("../../public/asset/4_1D.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}




.d_ar{font-family: d-ar}
.riyadBank{font-family: alfont_com_riyad-bank-Bold}
.samsungBold{font-family: SamsungSans-Bold}
.fontAbsolute{font-family: AbsoluteRegular}

